@tailwind base;
@tailwind components;
@tailwind utilities;



body {

  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  min-height: 100vh;
  background-color: hsl(217, 54%, 11%);
  font-family: Arial, Helvetica, sans-serif;
  @apply font-outfit;
}
